    * {
        margin: 0;
        padding: 0;
    }

    html, body, main {
        height: 100%;
        background: black;
    }

    main {
        display: flex;
        align-items: center;
    }

    .panel {
        display: flex;
        width: 100%;
        max-height: 100%;
        aspect-ratio: 1.5;
    }

    #image-panel {
        flex: 1;
        background: url('assets/adrian-swancar-tiTN0N_Z9tI-unsplash.jpg') center/cover no-repeat;
    }

    #text-panel {
        flex: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
    }