    @font-face {
        font-family: 'Norse';
        src: url(font/Norse-Bold.otf);
    }
    
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body, main {
        height: 100%;
        background: black;
    }

    main {
        display: flex;
        align-items: center;
    }

    .panel {
        display: flex;
        width: 100%;
        max-height: 100%;
        aspect-ratio: 1.5;
    }

    #image-panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url('assets/adrian-swancar-tiTN0N_Z9tI-unsplash.jpg') center/cover no-repeat;
    }

    #logo {
        flex: 2;
        align-content: center;
    }
    
    img {
        max-height: 1.5em;
        max-width: 1em;
    }
    
    #logo-content{
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 5px;
        font-size: 4em;
        font-family: 'Norse';
        background-color: rgba(0, 0, 0, 0.4);
    }

    a {
        color: white;
    }

    #reference {
        flex: 1;
        color: white;
        font-size: 13px;
        padding: 10px;
        align-content: end;
    }

    #form-panel {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #eee;
    }

    legend {
        font-size: 24px;
        font-weight: bold;
    }

    p {
        padding: 30px;
        font-weight: bold;
    }

    label {
        margin-bottom: 3px;
        font-size: 10px;
        letter-spacing: 0.2em;
        display: block;
    }

    input {
        font-size: 14px;
        padding: 2px 10px;
        height: 1.5em;
        border-radius: 6px;
        outline: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    input:invalid {
        border: 1px solid rgba(255, 0, 0, 0.2);
    }

    input:focus {
        border: 1px solid rgba(0, 120, 255, 0.5);
        box-shadow: 0 2px 10px rgba(0, 120, 255, 0.5);
    }

    .form-group {
        display: flex;
        gap: 80px;
    }

    #form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    button {
        padding: 10px 40px;
        margin: 30px;
        border-radius: 8px;
        border: none;
        color: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
        text-shadow: 2px 2px 3px black;
        background-image: linear-gradient(to right, #3C6676, #47778E, #D48683, #AC4659);
    }

    button:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    #log-in {
        padding-left: 30px;
    }

    #log-in a {
        color: #AC4659;
    }